@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Titillium+Web&display=swap');

html {
    scroll-behavior: smooth;
}

/* body styling */

body {
    font-family: "Titillium Web", sans-serif;
    color: #222219; /* main color */
    margin: 0 30px;    
}

/* headings styling */

h1, h2, h3 {
    font-family: Dosis, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #153B4D; /* squash pallete */
    text-align: center;
}

/* logo and menu styling */

#menu h1 {
    font-size: 240%;    
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu ul {        
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;    
}

#menu li {
    list-style-type: none;
    display: inline;
    background-color: #00C9B0; /* twisted spot Palette */
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;   
}

#menu ul a {    
    color: #222219;
}

#menu ul li:hover {    
    background-color: #F1EAE2;
}

#menu a {
    text-decoration: none;
    color: #153B4D;
}

.active {
    border: 2px solid #153B4D;
}

/* hero image */

#hero-image-container { 
    height: 600px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    position: relative;   
}

#hero-image {
    width: 100%;
    height: 600px;    
    background: url(../images/hero-image.webp) no-repeat top center;
    background-size: cover;
}

div #overlay {
    width: 350px;
    height: 190px;
    position: absolute;       
    top: 250px;
    left: 20px;
    padding: 10px 0 0 15px;
    background-color: rgba(241, 234, 226, 0.9);
    border-radius: 15px;  
}

/* welcome section and games we play section */

hr {
    border: 1px solid #222219;
    margin: 30px 5px;
}

.image-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #222219;
    border-radius: 15px;    
    align-items: center;    
    background-color: #F1EAE2;
}

.image-text-container img {
    max-width: 50%;
    min-height: 50%;
    border-radius: 15px;
}

.image-text-container p {
    flex: 1;
    text-align: justify;
    font-size: 230%;
    line-height: 1.5em;
    max-width: 50%;
    min-height: 50%;
    padding: 0 15px 0 15px;
}

#games {
    background-color: #F1EAE2;
    border: 1px solid #222219;
    border-radius: 15px; 
    margin-top: 10px;
    margin-bottom: 20px;    
    font-size: 150%;   
}

/* footer styling */

footer {    
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
    height: 75px;   
}

footer h3 {    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

footer ul {    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
    list-style-type: none;   
}

.footer-style {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #00C9B0;
}

footer ul li {
    display: inline;
    margin: 80px;
    font-size: 200%;
}

footer a {
    color: #222219;
}

/* about-us styling */

#about {    
    height: 300px;    
    font-size: 200%;
    margin: 0 auto;
    display: inline;    
}

#about a {
    text-decoration: none;
    color: #222219;
}

#about p {
    text-align: justify;    
    padding: 30px;
    background-color: #F1EAE2;
    border-radius: 15px;
    margin: 20px 0 0;
}

.all-headings { /* about-us, timetable and join-us pages headings styling */
    height: 75px;
    background-color: #F1EAE2;
    border-radius: 15px;
    line-height: 75px;
    margin-bottom: 20px;
}

.headings-size-margins { /* about-us, timetable and join-us pages headings font size and margins */
    font-size: 220%;
    margin-top: 10px;
    margin-bottom: 10px; 
}

#video h3 {
    font-size: 180%;    
    text-align: center;
    background-color: #F1EAE2;
    height: auto;
    line-height: 75px;
    border-radius: 10px;
    padding: 5px;
}

#video-heading {
    max-width: 900px;
    margin: 0 auto;
}

/* about-us page trailer video css to mantain aspect ratio */

.video-wrapper {
    position: relative;
    max-width: 900px;
    height: 450px;
    margin: 0 auto 2%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }

 /* timetable page styling */

#games-timetable {    
    overflow: hidden;
    border-radius: 15px;
}

.tables-display {
    display: flex;
    flex-direction: row;    
    align-items: normal;
    height: 450px;
}

.tables-display table, .tables-display td {
    text-align: center;
    border: 1px solid #153B4D;
    border-collapse: collapse;
}

.tables-display td {
    padding: 5px;    
}

.table-size {
    width: 80%;
    height: 80%;
    margin: 45px auto;
}

#wow {    
    background-color: rgba(122, 181, 182, .5); /* #7AB5BA dotting pallete */    
    font-size: 145%;
    flex: 1;
}

#cs-go {
    font-size: 145%;
    background-color: rgba(172, 172, 160, .5); /* #ACACA0 friend pallete */
    flex: 1;
}

#lol {   
    background-color: rgba(255, 199, 161, .5); /* #FFC7A1 skip shade gradient */
    font-size: 145%;
    flex: 1;
}

#albion {   
    background-color: rgba(231, 131, 96, .5); /* #E78360 skip gradient */
    font-size: 145%;
    flex: 1;
}

/* form page styling */

#form-section {
    clear: both;
    background: url(../images/form-page-image.webp);
    background-size: cover;
    background-position: center;    
    border-radius: 15px;
    padding: 25px;
}

.form-font-color {
    color: #F1EAE2;
}

#data-days-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;    
}

.checkboxes {
    line-height: 22px;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px;
}

.text-input:hover {
    border-color: #00C9B0;
}

#data {
    flex: 1;    
}

#data-form {
    width: 40%;
    height: 80%;
    margin: 0;
}

#days {        
    margin-right: 14px;        
}

#days form {
    width: 100%;
    height: 80%;    
    margin-right: 7px;    
}

#game-time-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;    
    margin-left: 50px;
    margin-right: 50px;
}

#game {
    flex: 1.5;    
}

.form-paragraph{
    margin-bottom: 0;
    padding: 5px;
}

#join {
    text-align: center;
    width: fit-content;
    margin: 50px auto;
    background-color: rgba(207, 206, 194, .7); /* #CFCEC2 shades */
    padding: 3em;
    border-radius: 15px;    
}

.action {
    font-size: 200%;
    background-color: #F1EAE2;
    border-radius: 5px;
    border: 2px solid #222219;
}

.action:hover{
    background-color: #222219;
    color: #F1EAE2;
    border: 2px solid #153B4D;
}

#clear {
    margin-top: 10px;
}

#thanks {
    text-align: center;
}

#thanks div {
    width: 550px;    
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

#thanks img {
    max-width: 100%;
    border-radius: 15px;    
}

/* Media Queries */

/* media queries for laptops and desktops including big screens */

@media screen and (min-width:1601px) {
    .image-text-container p {
        font-size: 252%;
    }
    #welcome-p {
        font-size: 254%;
    }

    .timetable td {            
        font-size: 112%;
    }
}

@media screen and (min-width:1470px) {        

    #games h2 {            
        font-size: 180%;
        line-height: 110px;
        margin: 0 auto;
    }        

    #about p {
        line-height: 65px;
    }

    #wow, #cs-go, #lol, #albion {
        font-size: 150%;
    }

    #data-form {
        width: 30%;            
    }
    
    footer ul li {
        margin: 120px;
    }

    #thanks div {
        height: 700px;                
    }
}

@media screen and (max-width:1470px) {

    .image-text-container p {
        font-size: 178%;
    }
    #welcome-p {
        font-size: 180%;
    }

    #video h3 {        
        font-size: 150%;
    }

    #thanks div {
        width: 450px;                
    }
}

@media screen and (max-width:1170px) { 
    
    #menu ul {                
        font-size: 15px;            
    }

    .image-text-container p {
        font-size: 130%;
    }
    #welcome-p {
        font-size: 140%;
    }

    #games {        
        font-size: 120%;
    }        

    #about p {        
        font-size: 90%;        
        line-height: 45px;
    }

    .headings-size-margins {            
        font-size: 200%;            
    }

    #video h3 {        
        font-size: 150%;            
    }

    #wow, #cs-go, #lol, #albion {
        font-size: 140%;
    }

    #data-form {
        width: 50%;            
    }
}

/* media queries for tablets and medium size screens */

@media screen and (max-width:1024px) {
    #menu h1{
        flex: none;
        font-size: 150%;
    }

    #menu ul {
        flex: none;            
        letter-spacing: 1.5px;
        padding: 0;            
    }

    #menu li {            
        padding: 3.5px;
    }

    #welcome-p {
        font-size: 130%;
    }
    
    .image-text-container p {
        font-size: 109%;
    }

    footer ul li {            
        margin: 50px;
        font-size: 160%;
    }
        
    #about p {        
        font-size: 85%;
        padding: 25px;
        line-height: 38px;
    }

    .headings-size-margins {            
        font-size: 180%;            
    }

    #video h3 {            
        font-size: 130%;
    }

    #wow, #cs-go, #lol, #albion {
        font-size: 120%;
    }

    #data-form {
        width: 60%;            
    }

    .action {
        font-size: 180%;
    }

    #thanks div {
        width: 390px;                
    }

    #thanks h2 {
        font-size: 135%;                
    }
}

@media screen and (max-width:907px) {
    #welcome-p {
        font-size: 110%;
    }
}

@media screen and (min-width:768px) {
   .logo-menu-margins {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer {
        margin-bottom: 30px;
    }

    footer h3 {
        font-size: 150%;
    }
}

/* media queries for tablets and mobile devices screens */

@media screen and (max-width:768px) {

    #menu {
        flex-direction: column;
        justify-content: stretch;           
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #menu h1 {
        margin: 10px 0 0 0;
        text-align: center;
        padding: 0;
    }

    #menu ul a {
        font-size: 18px;
        letter-spacing: 6px;
    }

    #menu li {
        margin: 5px 45px;
    }

    #games {        
        font-size: 100%;
    }

    #hero-image-container {
        height: 300px;
    }

    div #overlay {
        width: 200px;
        height: 160px;
        padding: 0;
        top: 100px;
    }

    #overlay h2 {
        font-size: 100%;
        padding: 5px;
        margin-top: 15px;

    }

    .image-text-container {
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 100%;            
    }

    .image-text-container img {
        max-width: 100%;
    }

    .image-text-container p {
        max-width: 100%;
        font-size: 140%;
    }
    
    footer ul li {            
        margin: 30px;
        font-size: 150%;
    }        
    
    #about p {
        text-align: center;
        font-size: 70%;        
    }

    .headings-size-margins {            
        font-size: 150%;            
    }

    #video h3 {
        font-size: 110%;            
        line-height: 37.5px;            
    }

    .tables-display {
        display: flex;
        flex-direction: column; 
        height: 900px;           
    }        

    #wow, #cs-go, #lol, #albion {
        font-size: 110%;
    }

    #data-days-form {
        margin-left: 0;
        margin-right: 0;
    }

    #game-time-form {
        margin-left: 0;
        margin-right: 0;
    }

    #data-form {
        width: 72%;            
    }
    
    .action {
        font-size: 160%;
    }

    #thanks h2 {
        font-size: 130%;                
    }
    
    #thanks div {
        width: 290px;                
    }
}

/* media queries mobile devices */

@media screen and (max-width:480px) {

    #hero-image {
        width: 100%;
        height: 600px;
        position: relative;
        background: url(../images/hero-image-2.webp) no-repeat top center;
        background-size: cover;
    }

    div #overlay {
        width: 150px;
        height: 150px;
        padding: 0;
        top: 120px;
        left: 10px;            
    }

    #overlay h2 {
        font-size: 80%;
        padding: 5px;
        margin-top: 13px;
    }

    #menu h1 {
        font-size: 130%;
    }

    #menu li {
        margin: 5px;
    }        

    #games {
        line-height: 42px;
        font-size: 80%;
    }

    footer ul li {            
        margin: 15px;
        font-size: 130%;
    }        

    #about p {
        text-align: center;
        font-size: 55%;
        padding: 15px;
        line-height: 30px;
    }

    .headings-size-margins {            
        font-size: 120%;            
    }    

    #video h3 {
        font-size: 85%;            
    }

    #wow, #cs-go, #lol, #albion {
        font-size: 95%;
    }        

    #form-section {
        background: url(../images/form-page-image-2.webp);
        background-size: cover;
        background-position: bottom;
        padding: 15px;
    }        

    #data-days-form {            
        flex-direction: column;
    }

    #game-time-form {
        flex-direction: column;
    }

    #data {
       width: 90%; 
    }

    #data-form {
        width: 100%;
        height: 80%;
        margin: 0;
    }

    .color-mobiles {
        color: #222219;
    }

    .checkbox-div {
        width: 80%;
        margin: 0 0 15px 5vw;
    }

    .checkboxes {
        width: 100%;
        height: 80%;
        line-height: 25px;
        font-size: 18px;
        background-color: rgba(220, 220, 220, .95);
        border-radius: 5px;
        padding: 5px;
    }

    #join {        
        margin-top: 20px;
        padding: 2em;   
    }
    
    .action {
        font-size: 150%;            
        margin-bottom: 10px;
    }       

    .form-paragraph {
        margin-bottom: 0;
        margin-top: 0;            
        text-align: center;
    }

    #thanks h2 {
        font-size: 110%;
    }

    #thanks div {
        width: 250px;                
    }
}

@media screen and (max-width:447px) {

    .image-text-container p {            
        font-size: 110%;
        text-align: center;
    }
}